body{
    margin: 0;
}
   .header {
    background-color: #AED6F1;
    overflow: hidden;
   }
   .header .logo {
    float: left;
    width: 15%;  <!-- ini untuk tulisan bisa disamping logo -->
   
   
   }
   .header .logo img {
    margin: 5px 15px 5px 15px;
    width: 150px;
   }

   .header .nav ul {
    float: right;
    margin-right: 50px; 
   }

   .header .nav ul a {
    color: black;
    text-decoration:none;
   }

   .header .nav ul a:hover{
       color: red;
       text-decoration:underline ;
   }
   .header .nav ul li a:active {
    color: yellow;
   }

   .wrapper{
    background-color: #dcdcdc;
    float: left;
    width: 100%;
    
   }

   .sidebar{
       width: 30%;
       float: left;
   }

   .menu b{
       font-size: 24px;
       padding-left: 15px;   
   }
   .menu a{
    padding-left: 15px;
    color: black;
    text-decoration:none;    
   }

   .menu a:hover{
    color: red;
    text-decoration:underline ;
}

.content{
    background-color: #eeeeee;
    width: 70%;
    float: right;
    
}

.footer {
    background-color: rgb(2, 2, 39);
    clear: both;
    text-align: center;
    padding: 15px;
   }